@for (row of nodeModels(); track $index) {
  <div class="nodeContainer">

    @for (node of row; track $index) {
      @let startNode = start();
      @let endNode = end();
      @if(node.x === startNode.x && node.y === startNode.y){
        <div class="node" [style.backgroundColor]="'orange'"></div>
      }

      @else if(node.x === endNode.x && node.y === endNode.y){
        <div class="node" [style.backgroundColor]="'red'"></div>
      }

      @else {

        <div class="node" [matMenuTriggerFor]="nodeContextMenu" [matMenuTriggerData]="{n: node}" [ngStyle]="{
          'backgroundColor': node.nodeState === 'traveled' ? 'green' : node.nodeState === 'visited' ? 'yellow' : node.nodeState === 'blocked' ? 'black' : 'blue'
         }"></div>
      }



    }

  </div>

  <mat-menu #nodeContextMenu>
    <ng-template matMenuContent let-node="n">
      <button mat-menu-item (click)="nodeBlocked.emit(node)">Block Node</button>
      <button mat-menu-item (click)="nodeUnblocked.emit(node)">Unblock Node</button>
    </ng-template>
  </mat-menu>
}


