<div class="container">
  <div class="row">
    <div class="col-6">
      NUM VISITED NODES: {{visitedNum$ | async}}
    </div>
    <div class="col-6">
      SHORTEST PATH LENGTH: {{traveledNum$ | async}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-configurations
      (gridSizeChanged)="updateGridSize($event)"
      (runPathAnalysis)="runAnalysis()">
      </app-configurations>
    </div>


    <div class="col-8">
      <app-grid
        [nodeModels]="nodeModels"
        [start]="start"
        [end]="end"
        (nodeBlocked)="updateNodeBlockedState($event, true)"
        (nodeUnblocked)="updateNodeBlockedState($event, false)"
        (mouseDownNodes)="onMouseNodeMouseDown($event)">
      </app-grid>


    </div>

  </div>

</div>
